{% extends 'base.html' %}
{% block contenido %}
    <section class="codesi">
        <h3>CODESI - La Agenda Digital Peruana 2.0</h3>
        <p>La Sociedad de la Información constituye un eje importante en el desarrollo económico del país y en el consecuente bienestar social, desarrollo que debe ser armónico, equilibrado y consensuado por parte de todos los actores que participan en la Sociedad de la Información. Se requiere de una pertinente y eficiente infraestructura de telecomunicaciones y de sistemas de información, fundamentales para que el estado realice sus planes de contenido social de manera más adecuada, mejorar la participación de las personas en el acceso a la información, y en las decisiones de gobierno. La Sociedad de la Información permitir fortalecer el proceso de descentralización e instaurar una administración moderna y eficiente orientada a la prestación de servicios en línea.</p>

        <article class="holder_gallery">
        <a href="#" class="photo_hover2"><img width="150" height="99" alt="picture1" src="{{ STATIC_URL }}imagen/picture2.jpg"></a>
        <h2>Visión</h2>
        <p>Sociedad peruana basada en principios de equidad, integración y no discriminación que utiliza efectiva y eficientemente la información en sus procesos de desarrollo, a través del uso intensivo de las tecnologías de la información y comunicación.</p>
        <!--<span class="readmore"><a href="#">Read more..</a></span>-->
        </article>

        <article class="holder_gallery">
        <a href="#" class="photo_hover2"><img width="150" height="99" alt="picture1" src="{{ STATIC_URL }}imagen/picture2.jpg"></a>
        <h2>Misión</h2>
        <p>Promover la universalización del uso y acceso a las Tecnologías de la Información y Comunicaciones como herramientas para impulsar el desarrollo económico, social y cultural del país.</p>
        <!--<span class="readmore"><a href="#">Read more..</a></span>-->
        </article>

    </section>
{% endblock %}
