<aside class="rigth-bar" style="width:100%;">
    <h3 style="margin-left: 30px;"><a href="#">Informes</a></h3>
    
    <div style="margin-left: 30px;margin-bottom: 9px;padding: 8px 0;" class="well">
        <ul class="nav nav-list">
            <li class="nav-header">{{ informes.2.0 }}</li>
            {% for informe in informes.0 %}
                <li><a href="#"><i class="icon-book"></i>{{ informe.titulo }}</a></li>
            {% endfor %}
            <li class="nav-header">{{ informes.2.1 }}</li>
            {% for informe in informes.1 %}
                <li><a href="#"><i class="icon-book"></i>{{ informe.titulo }}</a></li>
            {% endfor %}
        </ul>
    </div>
   
</aside>

<aside class="rigth-bar">
    <h3><a href="/actividad/noticias/">Noticias</a></h3>

    {% for nota in notas %}
        <article class="holder_news">
            <h4>{{ nota.titulo}}
            <span>{{ nota.fecha|date:"d.m.Y" }}</span></h4>
            <p>{{ nota.cuerpo|striptags|truncatewords:12 }} <span class="readmore">
            <a href="/actividad/noticia/{{ nota.pk }}/{{ nota.get_titulo }}/">Read more..</a></span></p>
        </article>
    {% endfor %}
       
</aside>

<aside class="rigth-bar">
    <h3><a href="/actividad/eventos/">Eventos</a></h3>
    
    {% for evento in eventos %}
        <article class="holder_news">
            <h4>{{ evento.titulo }}
            <span>{{ evento.publicacion|date:"d.m.Y" }}</span></h4>
            <p><strong>Inicio:</strong> {{ evento.inicio|date:"d.m.Y h:i:s a" }}</p>
            <p><strong>Fin:</strong> {{ evento.fin|date:"d.m.Y h:i:s a" }}</p>
            <p><strong>Dirección:</strong> {{ evento.direccion }}</p>
        </article>
    {% endfor %}
   
</aside>
