<aside class="rigth-bar" style="width:100%;">
    <h3 style="margin-left: 30px;">Informes</h3>
    
    <div style="margin-left: 30px;margin-bottom: 9px;padding: 8px 0;" class="well">
        <ul class="nav nav-list">
            <li class="nav-header">2011</li>
            <li><a href="#"><i class="icon-book"></i>Home</a></li>
            <li><a href="#"><i class="icon-book"></i>Library</a></li>
            <li><a href="#"><i class="icon-book"></i>Applications</a></li>
            <li class="nav-header">2010</li>
            <li><a href="#"><i class="icon-book"></i>Profile</a></li>
            <li><a href="#"><i class="icon-book"></i>Settings</a></li>
            <li><a href="#"><i class="icon-book"></i>Help</a></li>
            <li><a href="#"><i class="icon-list"></i>Leer más</a></li>
        </ul>
    </div>
   
</aside>

<aside class="rigth-bar">
    <h3>Ultimas Noticias</h3>

    <article class="holder_news">
    <h4>Lorem ipsum
    <span>10.09.2011</span></h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu.<span class="readmore">
    <a href="#">Read more..</a></span></p>
    </article>

    <article class="holder_news">
    <h4>Lorem ipsum
    <span>20.09.2011</span></h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu.	
    <span class="readmore"><a href="#">Read more..</a></span></p>
    </article>

    <article class="holder_news">
    <h4>Lorem ipsum
    <span>27.09.2011</span></h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. 	
    <span class="readmore"><a href="#">Read more..</a></span></p>
    </article>
       
</aside>

<aside class="rigth-bar">
    <h3>Eventos</h3>
    
    {% for evento in eventos %}
        <article class="holder_news">
            <h4>{{ evento.titulo }}
            <span>{{ evento.inicio|date:"d.m.Y" }}</span></h4>
            <p><span class="readmore"><a href="#">Leer más..</a></span></p>
        </article>
    {% endfor %}
   
</aside>
