@import url("bootstrap/css/bootstrap.min.css");
/*@import url("bootstrap/css/bootstrap-responsive.min.css");*/

body {
    background-image: url("../imagen/bg1.png");
    background-position: left top;
    background-repeat: repeat;
    color: black;
    margin: 0;
}

p {
    margin-bottom: 7px;
}

h3 {
    background-color: transparent;
    border-bottom: 1px dotted black;
    /*border-top: 1px dotted black;*/
    /*color: black;
    font-size: 28px;*/
    line-height: 1.6;
    margin-bottom: 9px;
    padding-top: 12px;
    text-align: left;
    text-transform: none;
}

#container{
    position:relative;
    background-color:white;
    padding:15px;
    overflow: hidden; 
    -moz-box-shadow: 0 0 5px 5px #D8D8D8;
    -webkit-box-shadow: 0 0 5px 5px #D8D8D8;
    box-shadow: 0 0 5px 5px #D8D8D8;
}

/************** Contenido **************/
.codesi {
	float: left;
	/*width: 613px;*/
	position: relative;
	background:white;
	/*padding:15px;*/
	margin-bottom:10px;
}

.holder_gallery {
    /*float: left;*/
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 0;
    /*width: 610px;*/
}

.holder_gallery h2 {
    color: black;
    font-size: 18px;
    line-height: 1.7;
    margin-left: 40px;
    padding-top: 8px;
    text-align: left;
    /*width: 350px;*/
}

.readmore {
    color: #333333;
    /*font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 15px;*/
    font-weight: bold;
}

a.photo_hover2 {
    background-color: white;
    border: 1px solid #E1E1E1;
}

a.photo_hover2 {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    float: left;
    margin: 5px 13px 8px 0;
    padding: 8px;
    position: relative;
}

a img {
    border: medium none;
}

/************** Right Bar **************/
.rigth-bar {
	float: right;
	/*width: 277px;*/
	position: relative;
	background:white;
	/*padding:15px;*/
	margin-bottom:10px;
	margin-left:30px;
}

.holder_news {
	/*width:274px;*/
	float:left;
	border-bottom:1px dotted black;
	margin-bottom:10px;
	padding-bottom:12px;
}

.holder_news h4 {
    color: black;
    /*font-size: 18px;*/
    line-height: 1.7;
    margin-bottom: 12px;
    padding-top: 8px;
    text-align: left;
    /*width: 350px;*/
}
.holder_news h4 span {
    background-color: #FFCC33;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-family: Georgia,"Times New Roman",Times,serif;
    /*font-size: 15px;*/
    font-weight: bold;
    margin-left: 20px;
    padding: 8px;
}

/************** Footer **************/
footer {
    background-color: black;
    clear: both;
    height: 90px;
    /*margin-bottom: 18px;*/
    position: relative;
    width: 100%;
}

#FooterTwo {
    color: white;
    position: absolute;
    right: 225px;
    top: 26px;
}

#FooterTree {
    color: white;
    left: 225px;
    position: absolute;
    top: 26px;
}

.foot-container {
    background-color: #33CC99;
    margin: 0 auto;
    width: 980px;
}

/************** tips **************/
img.img_left {
    float: left !important;
    margin: 14px 20px 14px 0;
}

img.img_right {
    border: medium none;
    float: right !important;
    margin: 14px 0 14px 20px;
}

img.img_block {
    border: medium none;
    clear: both !important;
    display: block;
    float: none !important;
    margin: 14px 0 !important;
}
