{% extends 'base.html' %}
{% block titulo %}CODESI - Miembros{% endblock %}
{% block contenido %}
    <section class="codesi">
        <h3>CODESI - Miembros</h3>

        <article class="holder_gallery">
            <div style="margin-bottom: 9px;padding: 8px 0;" class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Miebros Plenos</li>
                    {% for mp in miembros_permanentes %}
                        <li><a href={% if mp.portal %}"{{ mp.portal }}" target="_new"{% else %}"#"{% endif %}><i class="icon-user"></i>{{ mp.iniciales }} - {{ mp.entidad }}</a></li>
                    {% endfor %}
                    <li class="nav-header">Miebros Invitados</li>
                    {% for mi in miembros_invitados %}
                        <li><a href={% if mi.portal %}"{{ mi.portal }}" target="_new"{% else %}"#"{% endif %}><i class="icon-user"></i>{{ mi.iniciales }} - {{ mi.entidad }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </article>

    </section>
{% endblock %}
