<!doctype html>
<html lang="es/PE">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="recurso" content="http://freehtml5templates.com">
        <title>{% block titulo %}{% endblock %}</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.gif" type="image/x-icon"/> 
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/codesi.css"/>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">

        {% include "home/nav.html" %}
        <div id='container' class="container">
            <header class="jumbotron masthead">
                <img src='{{ STATIC_URL }}imagen/logo.gif' alt='Logo oficial de O.N.G.E.I'/>
            </header>
            <div class="row-fluid">
                <div class="span8">
                    {% block contenido %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>

                <div class="span4">
                    {% include "home/right.html" %}
                </div>

            </div>
            
        </div>
        {% include "home/footer.html" %}
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
        {% if app == 'evento' or app == 'noticia' or app == 'informe' %}
        <script src='{{ STATIC_URL }}js/actividad.js'></script>
        <script>
            {% if app == 'evento' %}
                var app = "evento";
            {% else %}{% if app == 'noticia' %}
                var app = "noticia";
            {% else %}{% if app == 'informe' %}
                var app = "informe";
            {% endif %}{% endif %}{% endif %}
        </script>
        {% endif %}
        {% block js %}{% endblock %}
    </body>
</html>
