{% extends 'base.html' %}
{% load pagination_tags %}
{% block titulo %}CODESI - Noticias{% endblock %}

{% block contenido %}
    <section class="codesi">
        <h3>CODESI - Noticias</h3>

        {% autopaginate notas_codesi 10 %}
            {% for nota in notas_codesi %}
                <article class="holder_gallery">
                    {% if nota.foto %}
                    <a href="#" class="photo_hover2">
                        <img style='width: 120px;height: 90px;' alt="{{ nota.titulo }}" src="{{ nota.foto }}">
                    </a>
                    {% endif %}
                    <h4><a href='/actividad/noticia/{{ nota.pk }}/{{ nota.get_titulo }}/'>{{ nota.titulo }}</a></h4>
                    {% autoescape off %}
                    <p>{{ nota.cuerpo|striptags|truncatewords:30 }}</p>
                    {% endautoescape %}
                </article>
            {% endfor %}
        {% paginate using "pagination.html" %}
    </section>
{% endblock %}
