{% extends 'base.html' %}
{% load pagination_tags %}
{% block titulo %}CODESI - Noticias{% endblock %}

{% block contenido %}
    <section class="codesi">
        <h3>CODESI - Noticias</h3>

        {% autopaginate noticias_codesi 10 %}
            {% for noticia in noticias_codesi %}
                <article class="holder_gallery">
                    {% if noticia.foto %}
                    <a href="#" class="photo_hover2">
                        <img style='width: 120px;height: 90px;' alt="{{ noticia.titulo }}" src="{{ noticia.foto }}">
                    </a>
                    {% endif %}
                    <h4><a href='/actividad/noticia/{{ noticia.pk }}/{{ noticia.get_titulo }}/'>{{ noticia.titulo }}</a></h4>
                    {% autoescape off %}
                    <p>{{ noticia.cuerpo|striptags|truncatewords:30 }}</p>
                    {% endautoescape %}
                </article>
            {% endfor %}
        {% paginate using "pagination.html" %}
    </section>
{% endblock %}
